// COLORS
$primary-color: #2b8bff;
$secondary-color: #01afbf;

// $primary-color: #01afbf;
// $secondary-color: #00c3cd;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.4rem;  
$smaller-font-size: 1.2rem;
